<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.macie.dao.UserInfoDao">

    <select id="getUserInfoByUserName" resultType="com.macie.entity.UserInfo">
        SELECT
            user_id, user_name, user_phone, user_email, user_nick_name,user_age, user_avatar_path
        FROM user_info
        WHERE user_name = #{userName}
    </select>

    <select id="getPwdByUserName" resultType="java.lang.String">
        SELECT user_password
        FROM user_info
        WHERE user_name = #{userName}
    </select>

    <update id="updateUserInfo">
        UPDATE user_info
        <set>
            <if test="userInfo.userName != null">user_name = #{userInfo.userName},</if>
            <if test="userInfo.userNickName != null">user_nick_name = #{userInfo.userNickName},</if>
            <if test="userInfo.userPhone != null">user_phone = #{userInfo.userPhone},</if>
            <if test="userInfo.userEmail != null">user_email = #{userInfo.userEmail},</if>
        </set>
        WHERE user_name = #{oldUserName}
    </update>

    <update id="updatePwd">
        UPDATE user_info
        SET user_password = #{newPwd}
        WHERE user_name = #{userName}
    </update>
</mapper>